* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 2rem 8rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

// colors

// Primary

$orange: #ff7d1a;
$paleOrange: #ffede0;

/// Neutral

$veryDarkBlue: #1d2025;
$darkGrayishBlue: #68707d;
$grayishBlue: #b6bcc8;
$lightGrayish: #f7f8fd;
$white: #ffffff;
$black: #000000;
