* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 2rem 8rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: solid 1px #f7f8fd;
  margin-bottom: 5rem;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header_left-showMenu, .header_left-closeMenu {
  display: none;
}
.header_left-nav__ul {
  display: flex;
  gap: 1.5rem;
}
.header_left-nav__ul li {
  color: #68707d;
  cursor: pointer;
  position: relative;
}
.header_left-nav__ul li:hover::after {
  width: 100%;
}
.header_left-nav__ul li::after {
  content: "";
  height: 4px;
  background-color: #ff7d1a;
  position: absolute;
  left: 0;
  bottom: -3rem;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all 0.2s ease-in-out;
  width: 0;
}
.header_right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header_right-avatar {
  cursor: pointer;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: cover;
}
.header_right-avatar:hover {
  padding: 1px;
  border: 2px solid #ff7d1a;
  border-radius: 50%;
}
.header_right-cart {
  display: none;
  position: absolute;
  top: 4rem;
  width: 350px;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  right: -2rem;
  -webkit-box-shadow: -1px 15px 30px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 15px 30px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.header_right-cart__top {
  padding: 18px 18px;
  border-bottom: solid 1px #b6bcc8;
}
.header_right-cart__top p {
  font-weight: 700;
}
.header_right-cart__bottom-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}
.header_right-cart__bottom-empty p {
  color: #68707d;
  font-size: 14px;
  font-weight: 700;
}
.header_right-cart__bottom-filled {
  display: none;
  flex-direction: column;
  padding: 1rem 1.2rem;
}
.header_right-cart__bottom-filled button {
  cursor: pointer;
  background-color: #ff7d1a;
  color: #ffffff;
  padding: 1rem 0rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}
.header_right-cart__bottom-filled button:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
  box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
}
.header_right-cart__bottom-filled__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header_right-cart__bottom-filled__text-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 3px;
}
.header_right-cart__bottom-filled__text-desc__title {
  color: #b6bcc8;
}
.header_right-cart__bottom-filled__text-desc__price {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.header_right-cart__bottom-filled__text-desc__price-total {
  font-weight: 700;
}
.header_right-cart__bottom-filled__text-desc__price-calculated {
  color: #b6bcc8;
}
.header_right-cart__bottom-filled__text-delete img {
  cursor: pointer;
}
.header_right-cart__icon {
  position: relative;
}
.header_right-cart__icon-img {
  cursor: pointer;
}
.header_right-cart__icon-quantity {
  display: none;
  position: absolute;
  left: 10px;
  font-size: 9px;
  background-color: #ff7d1a;
  bottom: 14px;
  padding: 1px 7px;
  border-radius: 40%;
  color: #ffffff;
  font-weight: 700;
}

.visible {
  display: block;
}

.main {
  display: flex;
  margin: 0 5rem 7rem 5rem;
  gap: 7rem;
}

.main_imagebox-previous, .main_imagebox-next {
  display: none;
}
.main_imagebox-big img {
  cursor: pointer;
  max-width: 454px;
  max-height: 454px;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.main_imagebox-thumbnail {
  display: flex;
  gap: 1rem;
}
.main_imagebox-thumbnail span {
  width: 22.3%;
  border: solid 2px #ff7d1a;
  border-radius: 12px;
}
.main_imagebox-thumbnail__img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
}
.main_imagebox-thumbnail__img:hover {
  opacity: 0.6;
}

.selected {
  opacity: 0.4 !important;
  height: 100%;
  width: 100%;
}

.main_content {
  padding: 4rem 0;
}
.main_content h3 {
  color: #ff7d1a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 1rem;
}
.main_content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.main_content-oldPrice {
  text-decoration: line-through;
  color: #b6bcc8;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 2rem;
}
.main_content-text {
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #68707d;
}
.main_content-price {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 0.4rem;
}
.main_content-price p {
  font-size: 1.4rem;
  font-weight: 700;
}
.main_content-price span {
  background-color: #ffede0;
  color: #ff7d1a;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.main_content-addToCart {
  display: flex;
  align-items: center;
}
.main_content-addToCart__input {
  display: flex;
  align-items: center;
  position: relative;
}
.main_content-addToCart__input #product_quantity {
  border: none;
  text-align: center;
  width: 80%;
  outline: none;
  font-weight: 700;
  background-color: #f7f8fd;
  border-radius: 10px;
  padding: 15px 0;
}
.main_content-addToCart__input-minus {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  left: 0.6rem;
}
.main_content-addToCart__input-minus:hover {
  opacity: 0.7;
}
.main_content-addToCart__input-plus {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 2.7rem;
}
.main_content-addToCart__input-plus:hover {
  opacity: 0.7;
}
.main_content-addToCart__btn {
  display: flex;
  align-items: center;
  position: relative;
}
.main_content-addToCart__btn:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
  box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
}
.main_content-addToCart__btn button {
  cursor: pointer;
  background-color: #ff7d1a;
  color: #ffffff;
  padding: 1rem 8rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}
.main_content-addToCart__btn svg {
  position: absolute;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  left: 6rem;
  cursor: pointer;
}

.lightbox {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.lightbox_close-icon {
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.lightbox_close-icon svg {
  cursor: pointer;
}
.lightbox_close-icon svg:hover path {
  fill: #ff7d1a;
  transition: all 0.2s ease-in-out;
}
.lightbox_mainPicture {
  margin-bottom: 2rem;
  position: relative;
}
.lightbox_mainPicture-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox_mainPicture-img img {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
.lightbox_previous, .lightbox_next {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1.5rem;
  top: 45%;
  background-color: white;
  position: absolute;
  cursor: pointer;
}
.lightbox_previous:hover svg path, .lightbox_next:hover svg path {
  stroke: #ff7d1a;
  transition: all 0.2s ease-in-out;
}
.lightbox_next {
  right: -30px;
}
.lightbox_previous {
  left: -30px;
}
.lightbox_thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.lightbox_thumbnails .selected-lightbox {
  border: solid 2px #ff7d1a;
}
.lightbox_thumbnails .selected-lightbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s ease-in-out;
}
.lightbox_thumbnails img {
  cursor: pointer;
  border-radius: 10px;
  width: 10%;
}

@media screen and (min-width: 1600px) {
  body {
    margin: 2rem 19rem;
  }
}
@media screen and (max-width: 1108px) {
  body {
    margin: 0;
  }

  .main {
    flex-direction: column;
    gap: 0;
    margin: 0 0 4rem 0;
  }
  .main_imagebox {
    position: relative;
  }
  .main_imagebox-previous, .main_imagebox-next {
    position: absolute;
    top: 40%;
    display: flex;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .main_imagebox-previous svg path, .main_imagebox-next svg path {
    stroke-width: 4;
  }
  .main_imagebox-previous {
    left: 1rem;
    padding: 15px 20px 15px 18px;
  }
  .main_imagebox-next {
    right: 1rem;
    padding: 15px 18px 15px 20px;
  }
  .main_imagebox-big img {
    cursor: default;
    border-radius: 0;
    max-height: 450px;
    height: 100%;
    max-width: 1108px;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
  }
  .main_imagebox-thumbnail {
    display: none;
  }
  .main_content {
    padding: 5rem 10rem;
  }
  .main_content h3 {
    font-size: 12px;
  }
  .main_content h1 {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .main_content-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .main_content-price p {
    font-size: 1.8rem;
  }
  .main_content-price span {
    font-size: 16px;
  }
  .main_content-oldPrice {
    margin-bottom: 0;
    font-size: 16px;
  }
  .main_content-addToCart {
    flex-direction: column;
  }
  .main_content-addToCart__input {
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .main_content-addToCart__input #product_quantity {
    width: 100%;
    font-size: 16px;
  }
  .main_content-addToCart__input-plus {
    right: 1.5rem;
  }
  .main_content-addToCart__input-minus {
    left: 1.5rem;
  }
  .main_content-addToCart__btn {
    width: 100%;
  }
  .main_content-addToCart__btn svg {
    left: 5rem;
  }
  .main_content-addToCart__btn button {
    padding: 1rem 7.5rem;
    -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
    box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
  }

  .header {
    margin: 0;
    padding: 18px 22px;
  }
  .header_left {
    display: flex;
    gap: 0;
  }
  .header_left-showMenu {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
  .header_left-closeMenu {
    cursor: pointer;
    margin-right: 20px;
    position: fixed;
    z-index: 99999;
  }
  .header_left-logo {
    padding-bottom: 3px;
  }
  .header_left-nav__ul {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    height: 100%;
    width: 60%;
    z-index: 9999;
    padding: 6rem 2rem;
  }
  .header_left-nav__ul li {
    color: #000000;
    font-weight: 700;
  }
  .header_left-nav__ul li:hover::after {
    width: 0;
  }
  .header_right-cart {
    width: 380px;
    right: -1rem;
  }
  .header_right-avatar {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .main_imagebox-big img {
    max-height: 320px;
    height: 100%;
  }
  .main_content {
    padding: 1rem 2rem;
  }
  .main_content-addToCart {
    flex-direction: column;
  }
  .main_content-addToCart__input {
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .main_content-addToCart__input #product_quantity {
    width: 100%;
    font-size: 16px;
  }
  .main_content-addToCart__input-plus {
    right: 1.5rem;
  }
  .main_content-addToCart__input-minus {
    left: 1.5rem;
  }
  .main_content-addToCart__btn svg {
    left: 5rem;
  }
  .main_content-addToCart__btn button {
    padding: 1rem 7.5rem;
    width: 100%;
    -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
    box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
  }
}
@media screen and (max-width: 375px) {
  .header_right-cart {
    width: 365px;
  }

  .main_content {
    padding: 1rem 2rem;
  }
  .main_content-addToCart__btn button {
    padding: 1rem 7rem;
  }
}

/*# sourceMappingURL=style.css.map */
