.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: solid 1px $lightGrayish;
  margin-bottom: 5rem;
  &_left {
    display: flex;
    align-items: center;
    gap: 4rem;
    &-nav {
      &__ul {
        display: flex;
        gap: 1.5rem;
        li {
          color: $darkGrayishBlue;
          cursor: pointer;
          position: relative;
          &:hover {
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            height: 4px;
            background-color: $orange;
            position: absolute;
            left: 0;
            bottom: -3rem;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            transition: all 0.2s ease-in-out;
            width: 0;
          }
        }
      }
    }
  }

  &_right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    &-avatar {
      cursor: pointer;
      width: 3.1rem;
      height: 3.1rem;
      object-fit: cover;
      &:hover {
        padding: 1px;
        border: 2px solid $orange;
        border-radius: 50%;
      }
    }
    &-cart {
      display: none;
      position: absolute;
      top: 4rem;
      width: 350px;
      height: auto;
      background-color: $white;
      border-radius: 5px;
      right: -2rem;
      -webkit-box-shadow: -1px 15px 30px 2px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 15px 30px 2px rgba(0, 0, 0, 0.3);
      &__top {
        padding: 18px 18px;
        border-bottom: solid 1px $grayishBlue;
        p {
          font-weight: 700;
        }
      }
      &__bottom {
        &-empty {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6rem 0;
          p {
            color: $darkGrayishBlue;
            font-size: 14px;
            font-weight: 700;
          }
        }
        &-filled {
          display: none;
          flex-direction: column;
          padding: 1rem 1.2rem;
          button {
            cursor: pointer;
            background-color: $orange;
            color: $white;
            padding: 1rem 0rem;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 10px;
            font-weight: 700;
            font-size: 16px;
            &:hover {
              opacity: 0.6;
              transition: all 0.2s ease-in-out;
              -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
              box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
            }
          }
          &__text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            &-img {
              img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 3px;
              }
            }
            &-desc {
              &__title {
                color: $grayishBlue;
              }
              &__price {
                display: flex;
                gap: 1rem;
                margin-top: 0.5rem;
                &-total {
                  font-weight: 700;
                }
                &-calculated {
                  color: $grayishBlue;
                }
              }
            }
            &-delete {
              img {
                cursor: pointer;
              }
            }
          }
        }
      }
      &__icon {
        position: relative;
        &-img {
          cursor: pointer;
        }
        &-quantity {
          display: none;
          position: absolute;
          left: 10px;
          font-size: 9px;
          background-color: $orange;
          bottom: 14px;
          padding: 1px 7px;
          border-radius: 40%;
          color: $white;
          font-weight: 700;
        }
      }
    }
  }
}

.visible {
  display: block;
}
