.main_imagebox {
  &-previous,
  &-next {
    display: none;
  }
  &-big {
    img {
      cursor: pointer;
      max-width: 454px;
      max-height: 454px;
      border-radius: 15px;
      margin-bottom: 1rem;
    }
  }
  &-thumbnail {
    display: flex;
    gap: 1rem;
    span {
      width: 22.3%;
      border: solid 2px $orange;
      border-radius: 12px;
    }
    &__img {
      width: 100px;
      height: 100px;
      cursor: pointer;
      border-radius: 10px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.selected {
  opacity: 0.4 !important;
  height: 100%;
  width: 100%;
}
