.lightbox {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  &_close-icon {
    justify-content: flex-end;
    width: 30%;
    margin-bottom: 1rem;
    svg {
      cursor: pointer;
      &:hover {
        path {
          fill: $orange;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  &_mainPicture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-bottom: 2rem;
    img {
      width: 50%;
      height: 100%;
      border-radius: 15px;
    }
  }
  &_previous,
  &_next {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 1.5rem;
    top: 19rem;
    background-color: white;
    position: absolute;
    cursor: pointer;
    &:hover {
      svg {
        path {
          stroke: $orange;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  &_next {
    right: 31.3rem;
  }
  &_previous {
    left: 31.3rem;
  }
  &_thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      cursor: pointer;
      border-radius: 10px;
      background-color: $white;
      width: 10%;
      &:hover {
        color: $white;
      }
    }
  }
}
