@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  .main {
    flex-direction: column;
    gap: 0;
    margin: 0 0 4rem 0;
    &_imagebox {
      position: relative;
      &-previous,
      &-next {
        position: absolute;
        top: 40%;
        display: flex;
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        svg {
          path {
            stroke-width: 4;
          }
        }
      }
      &-previous {
        left: 1rem;
        padding: 15px 20px 15px 18px;
      }
      &-next {
        right: 1rem;
        padding: 15px 18px 15px 20px;
      }
      &-big {
        img {
          cursor: default;
          border-radius: 0;
          max-height: 320px;
          height: 100%;
          margin-bottom: 0;
          object-fit: cover;
        }
      }
      &-thumbnail {
        display: none;
      }
    }
    &_content {
      padding: 1rem 2rem;
      h3 {
        font-size: 12px;
      }
      h1 {
        font-size: 25px;
        margin-bottom: 1rem;
      }
      &-prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }
      &-price {
        p {
          font-size: 1.8rem;
        }
        span {
          font-size: 16px;
        }
      }
      &-oldPrice {
        margin-bottom: 0;
        font-size: 16px;
      }
      &-addToCart {
        flex-direction: column;
        &__input {
          width: 100%;
          margin-bottom: 0.8rem;
          #product_quantity {
            width: 100%;
            font-size: 16px;
          }
          &-plus {
            right: 1.5rem;
          }
          &-minus {
            left: 1.5rem;
          }
        }
        &__btn {
          svg {
            left: 5rem;
          }
          button {
            padding: 1rem 7.5rem;
            width: 100%;
            -webkit-box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
            box-shadow: 0px 25px 24px -7px rgba(255, 125, 26, 0.26);
          }
        }
      }
    }
  }

  .header {
    margin: 0;
    padding: 18px 22px;
    &_left {
      display: flex;
      gap: 0;
      &-showMenu {
        display: block;
        cursor: pointer;
        margin-right: 20px;
      }
      &-closeMenu {
        cursor: pointer;
        margin-right: 20px;
        position: fixed;
        z-index: 99999;
      }
      &-logo {
        padding-bottom: 3px;
      }
      &-nav {
        &__ul {
          display: none;
          flex-direction: column;
          position: fixed;
          left: 0;
          top: 0;
          background-color: $white;
          height: 100%;
          width: 60%;
          z-index: 9999;
          padding: 6rem 2rem;
          li {
            color: $black;
            font-weight: 700;
          }
        }
      }
    }
    &_right {
      &-cart {
        width: 380px;
        right: -1rem;
      }
      &-avatar {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &_right {
      &-cart {
        width: 365px;
      }
    }
  }

  .main {
    &_content {
      &-addToCart {
        &__btn {
          button {
            padding: 1rem 7rem;
          }
        }
      }
    }
  }
}
